<div id="authorize">
		<% if authorized %>
			<p>välkommen user?<p>
		<% else%>
			<p>Du är utloggad</p><button >logga in</button>
		<% end %>
	</div>


<h2> Dina projekt</h2>
<p>Projektnamn, roll</p>
<p>Du har inga proj för tillfället</p>
<h2> Dina senaste 10 tickets</h2>
<p>Ticketnamn och beskrivning, status</p>
<p>Du har inga tickets för tillfället</p>
