/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body
{
	background-color:#f7f4f2;
}
a
{
	text-decoration:none;
	font-family: 'Oswald', sans-serif;
	color:#6cc927;
}
a:hover
{
	color:#9cae92;
}
a.crud
{
	width:100px;
	background-color:gray;
	padding:5px;
	display:block;
	margin:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
}
#name
{
	font-family: 'Covered By Your Grace', cursive;
	font-size:20px;
}
#crud_links
{
	margin-right:-10px;
	display:block;
}
header
{
	margin-top:20px;
	background-color:#333234;
	color:white;
	position:relative;
	z-index:2;
	box-shadow:0px 1px 4px #767676;
}
menu a 
{
	padding-top:15px;
	color:white;
	font-size:15px;
	display:block;
	text-align:center;
}
#sidebar
{
	margin-left:10px;
	background-color:#e4e5e4;
	padding:10px;
  	position:relative;
  	box-shadow:0px 0px 1px #333333;
  	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}​
#logo img
{
	display:block;
	width:200px;
}
#authorize
{
	text-align:left;
	border-bottom:1px dashed black;
}
#content
{
	padding:10px;
	overflow:auto;
}
#content_container
{
	overflow:auto;
	padding-bottom:10px;
	display:block;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#result
{
	border:1px dashed gray;
	padding:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.notice, .error
{
	position:absolute;
	right:0;
	margin-right:30px;
	padding:10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow:0px 0px 1px #333333;
	background-color:#b6f8bb;
}
.error
{
	background-color:#f8b6b6;
}
.user_form, .create_user
{
	margin-top:20px;
}
#project_description, #ticket_description
{
	height:100px;
}
.submit
{
	margin-top:10px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/